
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box {
    padding: 5rem 0 !important;

}
.box .card {
    position: relative;
}
.box .card .card-body .h1 i {
    color: green;
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
}
